[submodule "Seek/Vendor/spdlog"]
	path = Seek/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Seek/Vendor/GLFW"]
	path = Seek/Vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Seek/Vendor/imgui"]
	path = Seek/Vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Seek/Vendor/glm"]
	path = Seek/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Seek/Vendor/Box2D"]
	path = Seek/Vendor/Box2D
	url = https://github.com/erincatto/box2d
[submodule "Seek/Vendor/entt"]
	path = Seek/Vendor/entt
	url = https://github.com/skypjack/entt.git
